@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSerif';
  src:
    local('NotoSerif'),
    url('./fonts/noto-serif/static/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSerif';
  src:
    local('NotoSerif'),
    url('./fonts/noto-serif/static/NotoSerif-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSerif';
  src:
    local('NotoSerif'),
    url('./fonts/noto-serif/static/NotoSerif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSerif';
  src:
    local('NotoSerif'),
    url('./fonts/noto-serif/static/NotoSerif-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  src:
    local('SourceCodePro-Regular'),
    url('./fonts/source-code-pro/static/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  src:
    local('SourceCodePro'),
    url('./fonts/source-code-pro/static/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  src:
    local('SourceCodePro'),
    url('./fonts/source-code-pro/static/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  src:
    local('SourceCodePro'),
    url('./fonts/source-code-pro/static/SourceCodePro-SemiBold.ttf') format('truetype');
}
