@font-face {
  font-family: 'Inter-Regular';
  src:
    local('Inter-Regular'),
    url('./fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src:
    local('Inter-Medium'),
    url('./fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src:
    local('Inter-Bold'),
    url('./fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src:
    local('Inter-SemiBold'),
    url('./fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Italic';
  src:
    local('Inter-Italic'),
    url('./fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
}
