$cl-neutral-0: #ffffff;
$cl-neutral-50: #f5f7fa;
$cl-neutral-100: #f3f5f8;
$cl-neutral-200: #e0e4ea;
$cl-neutral-300: #cacfd8;
$cl-neutral-400: #99a0ae;
$cl-neutral-500: #717784;
$cl-neutral-600: #525866;
$cl-neutral-700: #2b303b;
$cl-neutral-800: #232530;
$cl-neutral-900: #191b25;
$cl-neutral-950: #0e121b;

$cl-blue-50: #ebf1ff;
$cl-blue-500: #335cff;
$cl-blue-700: #2547d0;

$cl-green-100: #d1fbe9;
$cl-green-500: #21c16b;

$shadow-auth-block: 0 8px 12px 0 rgba(240, 240, 240, 0.6);

$txt-cl-h: $cl-neutral-950;
$txt-cl-description: $cl-neutral-600;
$txt-cl-input: $cl-neutral-500;

$link-cl-grey: $cl-neutral-600;

$bg-cl-base: $cl-neutral-0;
$bor-cl-base: $cl-neutral-200;
$bor-cl-input: $cl-neutral-300;

$btn-bg-base: $cl-blue-500;
$btn-cl-base: $cl-neutral-0;

$focus-cl-base: $cl-neutral-950;
$hover-link-cl: $cl-blue-500;
