* {
  margin: 0;
  padding: 0;
}
image {
  display: block;
}

html {
  min-height: 100%;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#app {
  height: inherit;
}

.custom-notification {
  position: fixed;
  z-index: 9999;
  background-color: red;
}
